// 某些情形下 @require 靠不住，应改用 @import 。
// 例如：
//     本 styl 文件（称甲）对某个 styl 文件（称丙）作 @require ，
//     在示范项目中某 styl 文件（称乙）作 “包裹” 。如果乙中也 @require 了丙，
//     且乙对丙的 @require 早于甲，
//     那么，甲对丙的 @require 将被略过。
//     但由于丙的相关代码在乙中的作用域是在被 “包裹” 的选择器内，
//     故在甲中实际上访问不到丙的内容。
@import '../../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！





BLOCK__css_vars__set_values = @block {
    {wlc_transfer_items_among_columns__css_var_name__input_boxes_border_width} 2px
    {wlc_transfer_items_among_columns__css_var_name__focusing_element_outline_width} 'calc(2 * var(%s))' % unquote(wlc_transfer_items_among_columns__css_var_name__input_boxes_border_width)
    {wlc_transfer_items_among_columns__css_var_name__buttons_border_width} 3px
}

if lookup('wlc_transfer_items_among_columns__identifiable_selector__css_vars_injection_root') {
    {wlc_transfer_items_among_columns__identifiable_selector__css_vars_injection_root} {
        {BLOCK__css_vars__set_values}
    }
} else {
    body {
        {BLOCK__css_vars__set_values}
    }
}
