/* autoprefixer: off */

// 某些情形下 @require 靠不住，应改用 @import 。
// 例如：
//     本 styl 文件（称甲）对某个 styl 文件（称丙）作 @require ，
//     在示范项目中某 styl 文件（称乙）作 “包裹” 。如果乙中也 @require 了丙，
//     且乙对丙的 @require 早于甲，
//     那么，甲对丙的 @require 将被略过。
//     但由于丙的相关代码在乙中的作用域是在被 “包裹” 的选择器内，
//     故在甲中实际上访问不到丙的内容。
@import '../../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！





{wlc_transfer_items_among_columns__identifiable_selector__dedicate_styles_wrapper} {

    // 【两列之间之默认竖栏】。
    {wlc_transfer_items_among_columns__identifiable_selector__default_center_column_between_2_list_columns__root} {
        user-select none

        box-sizing border-box
        min-width 6em
        padding 3em 0.5em 3em

        border-style solid
        border-width 'var(%s)' % unquote(wlc_transfer_items_among_columns__css_var_name__chief_blocks_border_width)
        border-left-width 0
        border-right-width 0

        display flex
        flex-direction column
        justify-content flex-start
        align-items center
        box-sizing border-box

        > .柔性部件配件 {
            flex 10 10 19em
            max-height 19em
        }

        hr.仅用于样式表缺失之情形 {
            display none
        }

        button.按钮-形状必须为正圆 {
            font-size 1.25em
            margin 0.75em auto
        }

        .功能单体-主体为按钮 {
            display block
            margin 0.75em auto
            position relative

            .迁移条目之按钮 {
                margin 0
            }

            .迁移条目之按钮--甲列至乙列.样式应做特别调整 {
                padding-left 0.35em
            }

            .迁移条目之按钮--乙列至甲列.样式应做特别调整 {
                padding-left 0em
            }
        }
    }
}
