/* autoprefixer: off */

// 某些情形下 @require 靠不住，应改用 @import 。
// 例如：
//     本 styl 文件（称甲）对某个 styl 文件（称丙）作 @require ，
//     在示范项目中某 styl 文件（称乙）作 “包裹” 。如果乙中也 @require 了丙，
//     且乙对丙的 @require 早于甲，
//     那么，甲对丙的 @require 将被略过。
//     但由于丙的相关代码在乙中的作用域是在被 “包裹” 的选择器内，
//     故在甲中实际上访问不到丙的内容。
@import '../../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！





{wlc_transfer_items_among_columns__identifiable_selector__dedicate_styles_wrapper} {

    // 【现成实用的双列】。
    {wlc_transfer_items_among_columns__identifiable_selector__prebuilt_dual_columns__root} {
        {wlc_transfer_items_among_columns__css_var_name__chief_blocks_border_width} 2px
        // {wlc_transfer_items_among_columns__css_var_name__input_boxes_border_width} 'var(%s)' % unquote(wlc_transfer_items_among_columns__css_var_name__chief_blocks_border_width)

        display flex
        flex-direction column
        box-sizing border-box
        height 100%

        .总标题栏 {
            flex 0 0
        }

        .底部内容栏 {
            flex 0 0
            padding 0 1em
        }

        .容纳着双列的中央主体 {
            flex 1 1
            display flex
            flex-direction row
            align-items stretch
            overflow auto
            padding 1em // 为了在出现滚动条的情形给主体内容四周留白。
        }



        // Stylus 语言的变量名不允许采用汉字！另，应为我坚持在样式类名中使用汉字，故 @extend 之做法无效，只能改用 @block 之做法。
        BLOCK_left_and_right_columns_layout = @block {
            flex-shrink 1
            flex-grow 3
            flex-basis auto
            width 30em
        }

        // Stylus 语言的变量名不允许采用汉字！另，应为我坚持在样式类名中使用汉字，故 @extend 之做法无效，只能改用 @block 之做法。
        BLOCK_middle_column_layout = @block {
            flex-shrink 3
            flex-grow 1
            flex-basis auto
            max-width 20em
            min-width 6em
            padding-left 0.5em
            padding-right 0.5em
        }

        // Stylus 语言的变量名不允许采用汉字！另，应为我坚持在样式类名中使用汉字，故 @extend 之做法无效，只能改用 @block 之做法。
        BLOCK_middle_column_layout_narrow = @block {
            flex-shrink 0
            flex-grow 0
            flex-basis 1em
            max-width 1em
            min-width 1em
            padding-left 0em
            padding-right 0em
        }



        {wlc_transfer_items_among_columns__identifiable_selector__single_list_column__root} {
            {BLOCK_left_and_right_columns_layout}

            min-width 20em
            min-height 30em
        }

        {wlc_transfer_items_among_columns__identifiable_selector__default_center_column_between_2_list_columns__root} {
            {BLOCK_middle_column_layout}
        }



        .用以影响柔性布局之中央占位块 {
            {BLOCK_middle_column_layout}

            box-sizing border-box
            height 100%
        }



        .底部内容栏之默认内容 {
            display flex
            flex-direction row
            justify-content center
            align-items center
            box-sizing border-box
            padding 1em
            margin 0 -1em
            height 6em

            .功能块 {
                {BLOCK_left_and_right_columns_layout}

                position relative
                display block
                text-align center
            }

            .功能单体-主体为按钮 {
                display inline-block
                position relative
            }

            .迁移条目之按钮 {
                font-size 1.25em
                margin 0
            }
        }

        &.无需中央列之功能 {

            .用以影响柔性布局之中央占位块 {
                {BLOCK_middle_column_layout_narrow}
            }
        }
    }
}
