# ----- 临时资料 ---------------
临时资料





# ----- 仅面向研发阶段的诸配置文件 ---------------
.circleci
.vs/**/*
.vscode
.eslintignore
.eslintrc.js
.markdownlint.json
tsconfig.json





# ----- 仅面向研发阶段的诸工具 ---------------
*.sh
*.ps1
用于研发阶段的命令行工具
gulpfile.esm.js





# ----- 文档 ---------------
文档/





# ----- 测试集 ---------------
测试集/





# ----- 不必发布的源代码 ---------------
源代码/原始的源代码
源代码/发布的源代码/styles/_通用变量集_/
源代码/发布的源代码/**/可重用代码块之集.css
