@if not variable-exists('$吴乐川_任意两列间转移条目__标志性选择器__css变量根植点') {
    $吴乐川_任意两列间转移条目__标志性选择器__css变量根植点: 'body';
}

@if not variable-exists('$吴乐川_任意两列间转移条目__标志性选择器__基础样式之外层包裹') {
    $吴乐川_任意两列间转移条目__标志性选择器__基础样式之外层包裹: null;
}

$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__root_container                   : '.吴乐川-任意两列间转移条目-条目皿';
$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__root                             : '.吴乐川-任意两列间转移条目-条目根';
$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__visual_base                      : '.吴乐川-任意两列间转移条目-条目之视觉根';
$吴乐川_任意两列间转移条目__标志性选择器__single_list_column__root                           : '.吴乐川-任意两列间转移条目-单列';
$吴乐川_任意两列间转移条目__标志性选择器__single_list_column_readme__root                    : '.吴乐川-任意两列间转移条目-单列之说明书';
$吴乐川_任意两列间转移条目__标志性选择器__prebuilt_dual_columns__root                        : '.吴乐川-任意两列间转移条目-现成实用的双列';
$吴乐川_任意两列间转移条目__标志性选择器__default_center_column_between_2_list_columns__root : '.吴乐川-任意两列间转移条目-两列之间之默认竖栏';





$吴乐川_任意两列间转移条目__css变量名__chief_blocks_border_width                      : '--吴乐川-任意两列间转移条目--主要布局块-边线粗度';
$吴乐川_任意两列间转移条目__css变量名__focusing_element_outline_width                 : '--吴乐川-任意两列间转移条目--获得交互焦点之元素-边线粗度';
$吴乐川_任意两列间转移条目__css变量名__input_boxes_border_width                       : '--吴乐川-任意两列间转移条目--文字输入框-边线粗度';
$吴乐川_任意两列间转移条目__css变量名__buttons_border_width                           : '--吴乐川-任意两列间转移条目--按钮-边线粗度';

$吴乐川_任意两列间转移条目__css变量名__element_highlighting_color_static              : '--吴乐川-任意两列间转移条目--高亮元素标准色-静置时';
$吴乐川_任意两列间转移条目__css变量名__element_highlighting_color_hover               : '--吴乐川-任意两列间转移条目--高亮元素标准色-鼠标悬停时';
$吴乐川_任意两列间转移条目__css变量名__element_highlighting_but_disabled_color_static : '--吴乐川-任意两列间转移条目--高亮元素标准色-禁止交互时';
$吴乐川_任意两列间转移条目__css变量名__element_non_highlighting_color_hover           : '--吴乐川-任意两列间转移条目--非高亮元素标准色-鼠标悬停时';
$吴乐川_任意两列间转移条目__css变量名__focusing_element_outline_color                 : '--吴乐川-任意两列间转移条目--获得交互焦点之元素-视觉强调之包边之颜色';
