/* autoprefixer: off */

@import '../../_通用变量集_';
@import './通用代码块之集';





@mixin 可照搬之代码块_现成实用的双列_仅着色与装饰() {

    // 【现成实用的双列】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__prebuilt_dual_columns__root} {
        color: black;

        .容纳着双列的中央主体 {
            @include 可照搬之代码块_凡兼容webkit之浏览器的滚动条样式(black, 1);

            scrollbar-width: thin;
        }



        // 【单列】。
        #{$吴乐川_任意两列间转移条目__标志性选择器__single_list_column__root} {

            &.标准双列模式下的甲列 {

                .列首 {
                    background-color: #fadecf;
                }
            }

            &.标准双列模式下的乙列 {

                .列首 {
                    background-color: #defade;
                }
            }
        }
    }
}

@if $吴乐川_任意两列间转移条目__标志性选择器__本部件专属样式之外层包裹 != null {
    #{$吴乐川_任意两列间转移条目__标志性选择器__本部件专属样式之外层包裹} {
        @include 可照搬之代码块_现成实用的双列_仅着色与装饰();
    }
} @else {
    @include 可照搬之代码块_现成实用的双列_仅着色与装饰();
}
