@require '../../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！





BLOCK__css_vars__set_values = @block {
    {wlc_transfer_items_among_columns__css_var_name__element_highlighting_color_static} #795cfc
    {wlc_transfer_items_among_columns__css_var_name__element_highlighting_color_hover} #a38eff
    {wlc_transfer_items_among_columns__css_var_name__element_highlighting_but_disabled_color_static} #e1dcf9
    {wlc_transfer_items_among_columns__css_var_name__element_non_highlighting_color_hover} #e1dcf9
    {wlc_transfer_items_among_columns__css_var_name__focusing_element_outline_color} 'var(%s)' % unquote(wlc_transfer_items_among_columns__css_var_name__element_highlighting_color_static)
}

if lookup('wlc_transfer_items_among_columns__identifiable_selector__css_vars_injection_root') {
    {wlc_transfer_items_among_columns__identifiable_selector__css_vars_injection_root} {
        {BLOCK__css_vars__set_values}
    }
} else {
    body {
        {BLOCK__css_vars__set_values}
    }
}
