/* autoprefixer: off */

// 某些情形下 @require 靠不住，应改用 @import 。
// 例如：
//     本 styl 文件（称甲）对某个 styl 文件（称丙）作 @require ，
//     在示范项目中某 styl 文件（称乙）作 “包裹” 。如果乙中也 @require 了丙，
//     且乙对丙的 @require 早于甲，
//     那么，甲对丙的 @require 将被略过。
//     但由于丙的相关代码在乙中的作用域是在被 “包裹” 的选择器内，
//     故在甲中实际上访问不到丙的内容。
@import '../../_通用变量集_'
@import './通用代码块之集'

// Stylus 语言的变量名不允许采用汉字！





{wlc_transfer_items_among_columns__identifiable_selector__dedicate_styles_wrapper} {

    // 【两列之间之默认竖栏】。
    {wlc_transfer_items_among_columns__identifiable_selector__default_center_column_between_2_list_columns__root} {
        if true {
            border-color transparent
        } else {
            border-color #333
            background-color #999
        }
    }
}
