@require '../../_通用变量集_'
@require './可重用代码块之集'

// Stylus 语言的变量名不允许采用汉字！





// 【主表条目之视觉根】。
{identifiable_selector__list_single_item__visual_base} {

    &.默认形态 {
        // 暂无内容。
    }
}
