@require '../../_通用变量集_'
@require './可重用代码块之集'

// Stylus 语言的变量名不允许采用汉字！





// 【两列之间之默认竖栏】。
{wlc_transfer_items_among_columns__identifiable_selector__default_center_column_between_2_list_columns__root} {
    if true {
        border-color transparent
    } else {
        border-color #333
        background-color #999
    }
}
