// 某些情形下 @require 靠不住，应改用 @import 。
// 例如：
//     本 styl 文件（称甲）对某个 styl 文件（称丙）作 @require ，
//     在示范项目中某 styl 文件（称乙）作 “包裹” 。如果乙中也 @require 了丙，
//     且乙对丙的 @require 早于甲，
//     那么，甲对丙的 @require 将被略过。
//     但由于丙的相关代码在乙中的作用域是在被 “包裹” 的选择器内，
//     故在甲中实际上访问不到丙的内容。
@import '../../_通用变量集_'
@import './通用代码块之集'

// Stylus 语言的变量名不允许采用汉字！





{wlc_transfer_items_among_columns__identifiable_selector__dedicate_styles_wrapper} {
    /* autoprefixer: off */

    // 【现成实用的双列】。
    {wlc_transfer_items_among_columns__identifiable_selector__prebuilt_dual_columns__root} {
        color black

        .容纳着双列的中央主体 {
            MIXIN_webkit_scrollbar(black, 1)
            scrollbar-width thin
        }



        // 【单列】。
        {wlc_transfer_items_among_columns__identifiable_selector__single_list_column__root} {

            &.标准双列模式下的甲列 {

                .列首 {
                    background-color #fadecf
                }

                // .条目过滤器-文本输入框 {

                //     &.应给予视觉强调以引导用户来此 {
                //         border-color #f00

                //         // Stylus 语言的关键帧动画名称不允许采用汉字！但借助 @属性名 之方法可以稳妥地采用汉字为 @keyframes 命名。
                //         // animation-name wulechuan--transfer-items-among-columns--list-items-filtering-input-box--emphasizing--column1
                //         animation-name unquote('吴乐川-任意两列间转移条目-动画--单列-条目过滤器-文本输入框--视觉强调--甲列')
                //         @keyframes {@animation-name} {
                //             0%, 100% { border-color: #f00; }
                //             40%, 60% { border-color: #fbb; }
                //         }
                //     }
                // }
            }

            &.标准双列模式下的乙列 {

                .列首 {
                    background-color #defade
                }

                // .条目过滤器-文本输入框 {

                //     &.应给予视觉强调以引导用户来此 {
                //         border-color #090

                //         // Stylus 语言的关键帧动画名称不允许采用汉字！但借助 @属性名 之方法可以稳妥地采用汉字为 @keyframes 命名。
                //         // animation-name wulechuan--transfer-items-among-columns--list-items-filtering-input-box--emphasizing--column2
                //         animation-name unquote('吴乐川-任意两列间转移条目-动画--单列-条目过滤器-文本输入框--视觉强调--乙列')
                //         @keyframes {@animation-name} {
                //             0%, 100% { border-color: #8d8; }
                //             40%, 60% { border-color: #090; }
                //         }

                //         &:focus,
                //         &.给予的视觉强调应稍稍弱化 {
                //             animation-name none
                //             border-color inherit
                //         }
                //     }
                // }
            }
        }
    }
}
