@require '../../_通用变量集_'
@require './可重用代码块之集'

// Stylus 语言的变量名不允许采用汉字！





// 【现成实用的双列】。
{identifiable_selector__prebuilt_dual_columns__root} {
    color black

    .容纳着双列的中央主体 {
        MIXIN_webkit_scrollbar(black, 1)
        scrollbar-width thin
    }
}
