// 在 SCSS 代码中，下述开关：
//     /* autoprefixer: off */
// 不应放在文件【根作用域】中。
// 这是因为，本项目中的诸 .scss 文件，均可能由外界逐个挑选采用。
// 故而，在外界的某 .scss 文件中，会顺次导入本项目的若干各 .scss 文件。
// 此时，如果本项目的每个 .scss 文件根均带有 autoprefixer 开关，不论其取值为 on 或 off
// 那么 SCSS 编译器都会任务最终拼合的那个外界的 .scss 文件中，
// 其【根作用域】中出现过多个 autoprefixer 开关项。
// 进而， SCSS 编译器会在命令行窗口中不厌其烦的打印警告信息。
// 妥协的做法如下：
//     逐个在每个“非根”作用域中添加 autoprefixer 开关项。
//     例如 @mixin 定义块内、某个 css 规则内，等等。
//
// 顺便提及， Stylus 语言的代码中如果均在文件【根作用域】放置 autoprefixer 开关项，却不会有上述问题。
// 这证明，即便在第三方的 .styl 文件中顺次导入多个 .styl 文件，这些被导入的 .styl 文件仍保留各自独立的【根作用域】。





@import '../../_通用变量集_';





@mixin 可照搬之代码块_单列及其附件_仅尺寸与排版与行为() {
    /* autoprefixer: off */

    // 【主表条目之视觉根】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__visual_base} {

        &.默认形态 {
            letter-spacing: 0.1em;
            cursor: pointer;
            display: block;
            padding: 0.3em 0.5em;
        }
    }





    // 【主表条目根】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__root} {
        user-select: none;

        &.已受迫禁止交互 {

            // 【主表条目之视觉根】。
            #{$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__visual_base} {
                cursor: default;
            }
        }

        &.已禁止选择 {

            // 【主表条目之视觉根】。
            #{$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__visual_base} {
                cursor: not-allowed;
            }
        }
    }





    // 【主表条目皿】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__list_single_item__root_container} {
        padding: 0;
        margin: 0.1em 0;
    }





    // 【单列之说明书】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__single_list_column_readme__root} {
        position: relative;
        perspective: 15em;

        .条目列表说明书 {
            /* autoprefixer: off */

            height: 40vh;
            max-height: 50em;
            margin: 0.3em;
            padding-top: 2.5em;
            transform-origin: center 0%;
            transform-style: preserve-3d;

            animation-duration: 0.45s;
            animation-timing-function: linear;

            // animation-name: wulechuan--transfer-items-among-columns--list-column-manual-panel--presents;
            animation-name: 吴乐川-任意两列间转移条目-动画--单列之说明书--出现;
            // keyframes wulechuan--transfer-items-among-columns--list-column-manual-panel--presents {
            @keyframes 吴乐川-任意两列间转移条目-动画--单列之说明书--出现 {
                0%   {
                    transform: rotateX(-27deg) translateY(180%) translateZ(-2.8em) scaleX(86%);
                    opacity: 0;
                }

                33%  {
                    transform: rotateX(-9deg) translateY(110%) translateZ(-1em) scaleX(86%);
                }

                60%  {
                    transform: rotateX(-2deg) translateY(27%) translateZ(0.1em) scaleX(94%);
                    opacity: 1;
                }

                83%  {
                    transform: rotateX(-0.5deg) translateY(5%) translateZ(0) scaleX(98%);
                }

                100% {
                    transform: none;
                }
            }

            .标准按钮-叉 {
                margin: 0.75em;
            }

            .消息文本-可滚动的内容皿 {

                article {
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
            }
        }
    }





    // 【单列】。
    #{$吴乐川_任意两列间转移条目__标志性选择器__single_list_column__root} {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        box-sizing: border-box;
        border-width: var(#{$吴乐川_任意两列间转移条目__css变量名__chief_blocks_border_width});
        border-style: solid;

        .列首 {
            margin: 0;
            padding: 0;
            border-style: solid;
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0;
            border-bottom-width: var(#{$吴乐川_任意两列间转移条目__css变量名__chief_blocks_border_width});
        }

        .列标题栏 {
            position: relative;
            padding: 0.5em 1em;
            text-align: center;
        }

        .列标题栏之默认内容 {
            margin: -0.5em -1em;
            padding: 0.5em 1em;

            h5 {
                font-size: 1.2em;
                font-weight: 600;
                margin: 0;
                letter-spacing: 0.1em;
                // padding-left: 0.1em;
            }
        }

        .功能块-条目过滤器 {
            flex: 0 0 2em;
            display: block;
            padding: 0.5em 0.75em;
        }

        .条目过滤器-文本输入框 {
            display: block;
            width: 100%;
        }

        .功能块-全选或全部取消选中 {
            padding: 0.25em 1em;
            margin-top: -0.5em;

            label.包裹着输入项 {
                // display: flex;
                width: 15em;
                white-space: nowrap;
                // margin-left: auto;
                // margin-right: auto;
            }
        }

        .功能块-条目统计 {
            margin: 0;
            padding: 0.3em 0.75em;

            .字典式列表之条目 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 24em;
            }

            .字典式列表之条目 > dt,
            .字典式列表之条目 > dd {
                padding: 0.25em;

                > span {
                    box-sizing: border-box;
                    display: block;
                    padding: 0.2em 0.3em;
                    height: 1.6em;
                    line-height: 1.2;
                }
            }

            .字典式列表之条目 > dt {
                flex: 0 0 4em;
                display: block;
                margin: 0 -1em 0 0;
            }

            .字典式列表之条目 > dd {
                flex: 1 1 auto;
                min-width: 16em;
                margin: 0 0 0 2em;
                display: flex;
                flex-direction: row;

                .括弧--左,
                .括弧--右 {
                    line-height: 1.2;
                }

                .括弧--左 {
                    flex: 1 0 auto;
                    margin-left: 0.5em;
                    margin-right: 0;
                    text-align: right;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                .括弧--右 {
                    flex: 0 0 auto;
                    margin-left: 0;
                    text-align: left;
                    margin-right: 1em;

                    &:last-child {
                        margin-right: -1em;
                    }
                }

                .值 {
                    z-index: 10;
                    flex: 0 0 5em;
                    margin: 0;
                    text-align: right;
                }

                .值-前缀,
                .值-后缀 {
                    overflow: hidden;
                    white-space: nowrap;
                }

                .值-前缀 {
                    flex: 0 2 auto;
                    text-align: right;
                    margin-right: 0.25em;
                }

                .值-后缀 {
                    flex: 0 0 auto;
                    text-align: left;
                    margin-left: 0.25em;
                }

                .值 + .括弧--右 {
                    margin-left: -0.15em;
                }

                .值-后缀 + .括弧--右,
                .括弧--左 + .值-前缀 {
                    margin-left: -0.4em;
                }
            }
        }

        .功能块-条目列表皿 {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding: 0.1em;
        }

        .条目列表 {
            list-style: none;
            padding: 0;
            flex: 1 1;
            height: 100%;
            overflow-y: scroll;
            padding: 0 0.15em 0 0.5em;
            margin: 0;
        }

        .功能块-条目列表说明书-控制栏 {
            user-select: none;

            position: relative;
            padding: 0.5em;
            text-align: center;

            button {
                font-size: 0.8em;
            }

            #{$吴乐川_任意两列间转移条目__标志性选择器__single_list_column_readme__root} {
                z-index: 50;
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 100%;
                margin: 0;
                overflow: hidden;
            }
        }
    }
}

@if $吴乐川_任意两列间转移条目__标志性选择器__本部件专属样式之外层包裹 != null {

    #{$吴乐川_任意两列间转移条目__标志性选择器__本部件专属样式之外层包裹} {
        @include 可照搬之代码块_单列及其附件_仅尺寸与排版与行为();
    }
} @else {
    @include 可照搬之代码块_单列及其附件_仅尺寸与排版与行为();
}
