@import '../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！label:focus-within {

& {
    {css_var_name__focusing_element_outline_color}: #795cfc

    label,
    textarea,
    input,
    button {
        transition-property: outline, visibility, opacity, color, border, background-color, box-shadow, text-shadow;
        transition-duration:  0.219s,       0.5s,    0.5s,  0.5s,   0.5s,             0.5s,       0.5s,        0.5s;
        transition-timing-function: ease-out;
    }

    label {
        outline-color transparent
        box-shadow none

        &:focus-within {
            outline-color 'var(%s)' % unquote(css_var_name__focusing_element_outline_color)
            box-shadow 0 0 0 ('calc(var(%s) - 1px)' % unquote(css_var_name__focusing_element_outline_width)) ('var(%s)' % unquote(css_var_name__focusing_element_outline_color))
        }
    }

    textarea,
    input,
    button {
        outline-color transparent
        box-shadow none

        &:focus-visible {
            outline-color 'var(%s)' % unquote(css_var_name__focusing_element_outline_color)
            box-shadow 0 0 0 ('calc(var(%s) - 1px)' % unquote(css_var_name__focusing_element_outline_width)) ('var(%s)' % unquote(css_var_name__focusing_element_outline_color))
        }
    }

    textarea,
    input {

        &::placeholder {
            color #ccc
        }
    }

    button {
        color #000
        border-color #888
        background-color #eee
    }

    input[type="checkbox"] {
        color inherit
        border-color currentColor
    }

    input[type="checkbox"]:hover,
    label.包裹着输入项:hover .勾选项视觉假体 {
        color 'var(%s)' % unquote(css_var_name__focusing_element_outline_color)
    }

    .输入项 {

    }

    .勾选项视觉假体 {
        border-radius 0.2em
        background-color white
    }

    .输入项-勾选项 {

        &.部分勾选 {

            .勾选项视觉假体::before {
                border-radius 0.1em
                background-color currentColor
            }
        }
    }

    label.包裹着输入项 {

        & {
            color inherit
            border-radius 0.2em

            input[type="checkbox"]:focus-visible,
            input[type="checkbox"]:focus {
                outline none
                box-shadow none
            }

            .输入项配文 {
                color inherit
            }
        }

        &:hover {
            background-color rgba(black, 0.1)
        }

        &:disabled,
        &.已禁止交互 {
            color #0004
            border-color transparent
            background-color transparent
        }
    }

    .角标 {

        &,
        &.标准配色-红 {
            border-radius 1000px
            color white
            background-color red
            box-shadow 1px 1px 0.2em rgba(#722, 0.319)
        }

        // &.标准配色-绿 {

        // }

        // &.标准配色-蓝 {

        // }
    }

    .消息文本皿 {

        // &,
        // &.标准配色-鲜亮 {

        //     em {
        //     }

        //     strong {
        //     }
        // }

        &.标准配色-幽暗 {
            border-radius 0.4em
            color #ccc
            border-color black
            background-color rgba(black, 0.9)
            box-shadow 0 0 0.4em rgba(black, 0.75)

            em {
                color lightgreen
            }

            strong {
                color #f88
            }
        }
    }
}
