@import '../_通用变量集_'
@import './可重用代码块之集'

// Stylus 语言的变量名不允许采用汉字！

{identifiable_selector__sub_component_single_column} {

    .列首 {
        border-color inherit
    }

    .列标题栏之默认内容 {
        color white
        background-color rgba(black, 0.6)
    }

    .功能块-条目过滤器 {
        border-color inherit
    }

    .条目过滤器-文本输入框 {
        border-color inherit
        border-radius 1000px

        &.应给予视觉强调以引导用户来此 {
            animation-iteration-count infinite
            animation-duration 1.5s
        }

        &:disabled {
            animation-name none
            border-color rgba(black, 0.079)
            background-color rgba(white, 0.319)
        }
    }

    .功能块-条目统计 {
        background-color rgba(black, 0.1)

        .字典式列表之条目 > dt,
        .字典式列表之条目 > dd {

            > span {
                border-radius 0.2em
            }
        }

        .字典式列表之条目 > dt {
            color #0007
        }

        .字典式列表之条目 > dd {
            color black
        }

        .字典式列表之条目--所有条目之统计 .值 {
            background-color rgba(black, 0.05)

            // &.值--总数 {
            // }

            // &.值--列示数 {
            // }
        }

        .字典式列表之条目--已选中条目之统计 .值 {
            text-shadow none
            color white

            &.值--总数 {
                background-color black
            }

            &.值--列示数 {
                background-color rgba(black, 0.5)
            }
        }
    }

    .功能块-条目列表皿 {
        box-shadow inset 0 0 0.25em rgba(black, 0.45)
    }

    .消息文本块.标准配色-暗.条目列表之提示语 {

        .值 {
            margin 0 0.2em
            background-color transparent

            &.值-期望列示之条目总数 {
                color #f88
            }

            &.值-条目总数之限制数 {
                color #ff8
            }
        }
    }

    .条目列表 {
        MIXIN_webkit_scrollbar(black, 1)
        scrollbar-width thin
    }

    .功能块-条目列表说明书-控制栏 {
        background-color #222
    }

    &.标准双列模式下的甲列 {

        .列首 {
            background-color #ffdfdf
        }

        .条目过滤器-文本输入框 {

            &.应给予视觉强调以引导用户来此 {
                border-color #f00

                // Stylus 语言的关键帧动画名称不允许采用汉字！但借助 @属性名 之方法可以稳妥地采用汉字为 @keyframes 命名。
                // animation-name wulechuan-dual-columns-exchange-data--list-items-filtering-input-box--emphasizing--column1
                animation-name unquote('吴乐川-双列互换数据之单列--动画--条目过滤器-文本输入框--视觉强调--甲列')
                @keyframes {@animation-name} {
                    0%, 100% { border-color: #f00; }
                    40%, 60% { border-color: #fbb; }
                }
            }
        }
    }

    &.标准双列模式下的乙列 {

        .列首 {
            background-color #ddfce5
        }

        .条目过滤器-文本输入框 {

            &.应给予视觉强调以引导用户来此 {
                border-color #090

                // Stylus 语言的关键帧动画名称不允许采用汉字！但借助 @属性名 之方法可以稳妥地采用汉字为 @keyframes 命名。
                // animation-name wulechuan-dual-columns-exchange-data--list-items-filtering-input-box--emphasizing--column2
                animation-name unquote('吴乐川-双列互换数据之单列--动画--条目过滤器-文本输入框--视觉强调--乙列')
                @keyframes {@animation-name} {
                    0%, 100% { border-color: #8d8; }
                    40%, 60% { border-color: #090; }
                }

                &.给予的视觉强调不应为动画 {
                    animation-name none
                }
            }
        }
    }
}
