@import '../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！

{identifiable_selector__component_root} {
    @import './可重用代码块之集'

    color black

    MIXIN_DefineWebkitScrollBar()

    button {
        border-radius 1000px
    }

    .甲乙两列之间之竖栏 {

        if true {
            border-color transparent
        } else {
            border-color #333
            background-color #999
        }
    }
}
