@import '../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！label:focus-within {

{identifiable_selector__component_root} {

    // 故意将基础样式之定义套在根元素之内，以防污染全局的样式定义。
    @import './0-基础'

    & { // 为 “ 对抗 ” @import './0-基础' 内带有的 & 包裹，此处必须也采用 & 包裹，不能省略。
        color black
    }

    button {
        border-radius 1000px
    }

    .甲乙两列之间之竖栏 {

        if true {
            border-color transparent
        } else {
            border-color #333
            background-color #999
        }
    }
}
