@import '../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！

{identifiable_selector__component_root} {
    font-size 20px

    display flex
    flex-direction column
    box-sizing border-box
    height 100%

    .尽量不换行之短语 {
        display inline-block
    }

    label.包裹着输入项 {
        cursor pointer
        font-size inherit
        padding 0.5em 1em
        border-radius 0.35em
        margin-right 1em
        display inline-flex
        flex-direction row
        align-items flex-start
        line-height 1.5
        transition-property color, border-color, background-color
        transition-timing-function ease-out
        transition-duration 0.319s
        text-align left

        &:disabled {
            cursor not-allowed
        }
    }

    input[type="checkbox"] {
        font-size inherit
        width 1em
        height 1em
        min-width 1em /* 迁就火狐浏览器。 */
        max-width 1em /* 迁就火狐浏览器。 */
        min-height 1em /* 迁就火狐浏览器。 */
        max-height 1em /* 迁就火狐浏览器。 */
        margin 0.27em 0.7em 0.27em 0

        &::before { /* 火狐浏览器中的 input 元素不支持 ::before 。 */
            content ''
            display block
            box-sizing border-box
            width 1.1em
            height 1.1em
            line-height 0.9
            text-align center
            position absolute
            top auto
            left auto
            margin -0.05em
            border-width 0.1em
            border-style solid
        }

        &:checked::before {
            content '✓'
        }
    }

    label.包裹着输入项 input[type="checkbox"] {
        margin-left -0.2em
    }

    .总标题栏 {
        flex 0 0 auto
    }

    .底部内容栏 {
        flex 0 0 auto
    }

    .容纳着双列的中央主体 {
        flex 1 1 auto
        display flex
        flex-direction row
        align-items stretch
        overflow hidden
    }

    .底部内容栏-默认内容 .功能块,
    {identifiable_selector__sub_component_single_column} {
        flex-shrink 1
        flex-grow 3
        flex-basis auto
        width 30em
        min-width 20em
    }

    .底部内容栏-默认内容 .中央间隙,
    .甲乙两列之间之竖栏 {
        flex-shrink 3
        flex-grow 1
        flex-basis auto
        max-width 20em
        min-width 6em
        height 100%
    }

    .甲乙两列之间之竖栏 {
        box-sizing border-box
        padding 17em 0.25em 3em

        hr.仅用于样式表缺失之情形 {
            display none
        }
    }

    .甲乙两列之间之竖栏-默认内容,
    .底部内容栏-默认内容 {

        .功能单体-主体为按钮 {
            display block
            max-width 100%
            position relative

            .迁移条目之按钮 {
                display flex
                align-items center
                justify-content center
                box-sizing border-box

                border-style solid
                text-align center

                cursor pointer

                &:disabled {
                    cursor not-allowed
                }
            }

            .角标 {
                font-style normal
                font-size inherit

                display block
                box-sizing border-box
                width auto
                min-width 1.8em
                height 1.8em
                line-height 1.45
                text-align center
                padding 0.2em 0.3em

                position absolute
            }

            .角标--将条目从甲列迁移至乙列之按钮 {
                top 0
                left 0
                right auto
                bottom auto
                transform translateX(-50%)
            }

            .角标--将条目从乙列迁移至甲列之按钮 {
                top 0
                left auto
                right 0
                bottom auto
                transform translateX(50%)
            }
        }
    }

    .甲乙两列之间之竖栏-默认内容 {
        display flex
        flex-direction column
        justify-content flex-start
        align-items center
        box-sizing border-box
        padding 0.5em
        width 100%
        height 100%

        .功能单体-主体为按钮 {
            margin 0.75em auto

            .迁移条目之按钮 {
                font-size 1.25em
                padding 0.5em
                line-height 1.1
                width 2.5em
                height 2.5em
            }

            .迁移条目之按钮--甲列至乙列.应做特别调整 {
                padding-left 0.75em
            }

            .迁移条目之按钮--乙列至甲列.应做特别调整 {
                padding-left 0.25em
            }

            .角标 {
                margin -0.5em 0
            }
        }
    }

    .底部内容栏-默认内容 {
        display flex
        flex-direction row
        justify-content center
        align-items center
        box-sizing border-box
        padding 1em
        height 6em

        .功能块 {
            position relative
            display block
            // text-align center
        }

        .功能块--针对甲列 {
            text-align right
        }

        .功能块--针对乙列 {
            text-align left
        }

        .中央间隙 {
            margin 0 2.5em
        }

        .功能单体-主体为按钮 {
            display inline-block

            .迁移条目之按钮 {
                font-size 1.5em
                padding 0.5em 1.5em
                min-width 8em
                margin 0
            }

            .角标 {
                margin -0.25em 0.25em
            }
        }
    }
}

{identifiable_selector__sub_component_single_column} {
    display flex
    overflow hidden
    flex-direction column
    box-sizing border-box
    border-width 2px
    border-style solid

    .列首 {
        margin 0
        padding 0
        border-width 0
    }

    .列标题栏 {
        position relative
        padding 0.5em 1em
        text-align center
    }

    .列标题栏之默认内容 {
        margin -0.5em -1em
        padding 0.8em 1em

        h5 {
            font-size 1.25em
            font-weight 600
            margin 0
            letter-spacing 0.1em
            // padding-left 0.1em
        }
    }

    .功能块-条目过滤器 {
        flex 0 0 2em
        display block
        padding 0.5em 0.75em
        // position relative

        // .图标-搜索 {
        //     position absolute
        //     top 0.5rem
        //     left 0.75rem
        //     height 1.8em
        //     line-height 1.8em
        //     width 1.8em
        //     text-align center
        //     pointer-events none
        // }
    }

    .条目过滤器-文本输入框 {
        font-size inherit
        display block
        box-sizing border-box
        width 100%
        height 2.2em
        border-width 2px
        padding 0.25em 1.2em
        line-height normal
        border-style solid
    }

    .功能块-全选或全部取消选中 {
        padding 0em 0.5em 0.25em 0.5em

        label.包裹着输入项 {
            display block
            padding-top 0.25em
            padding-bottom 0.25em
            margin 0
            border-radius 0.25em

            &.已禁止交互 {
                cursor not-allowed
            }

            input[type="checkbox"] {
                // margin-top -0.1rem

                &:disabled {
                    visibility hidden
                }
            }
        }
    }

    .功能块-条目统计 {
        margin 0
        padding 0.3em 0.75em 0.3em 0.75em

        .字典式列表之条目 {
            display flex
            flex-direction row
            flex-wrap wrap
            max-width 24em
        }

        .字典式列表之条目 > dt,
        .字典式列表之条目 > dd {
            padding 0.25em
            margin 0

            > span {
                box-sizing border-box
                display block
                padding 0.2em 0.3em
                height 1.6em
                line-height 1.2
                border-radius 0.2em
            }
        }

        .字典式列表之条目 > dt {
            flex 0 0 4em
            display block
            margin-right -1em
        }

        .字典式列表之条目 > dd {
            flex 1 1 auto
            min-width 16em
            margin-left 2em
            display flex
            flex-direction row

            .括弧--左,
            .括弧--右 {
                line-height 1.2
            }

            .括弧--左 {
                flex 1 0 auto
                margin-left 0.5em
                margin-right 0
                text-align right

                &:first-child {
                    margin-left 0
                }
            }

            .括弧--右 {
                flex 0 0 auto
                margin-left 0
                text-align left
                margin-right 1em

                &:last-child {
                    margin-right -1em
                }
            }

            .值 {
                z-index 10
                flex 0 0 5em
                margin 0
                text-align right
            }

            .值-前缀,
            .值-后缀 {
                overflow hidden
                white-space nowrap
            }

            .值-前缀 {
                flex 0 2 auto
                text-align right
                margin-right 0.25em
            }

            .值-后缀 {
                flex 0 0 auto
                text-align left
                margin-left 0.25em
            }

            .值 + .括弧--右 {
                margin-left -0.15em
            }

            .值-后缀 + .括弧--右,
            .括弧--左 + .值-前缀 {
                margin-left -0.4em
            }
        }
    }

    .功能块-条目列表皿 {
        display flex
        flex-direction column
        overflow hidden
        flex 1 1
        height 100%
        padding 0.25em

        border-width inherit
        border-left-width 0
        border-right-width 0
        border-bottom-width 0
        border-style inherit
        border-color inherit
    }

    .条目列表之提示语 {
        padding 0.25em 0.75em
        margin 1em 0.25em
        line-height 1.5

        p {
            margin 0.25em 0
        }

        em {
            font-style normal
            margin 0 0.2em
        }

        strong {
            font-style normal
            font-weight normal
        }
    }

    .条目列表 {
        list-style none
        padding 0
        flex 1 1
        height 100%
        overflow auto
        overflow-y scroll
        padding 0
        margin 0

        .条目 {
            user-select none
            padding 0 0.25em
        }

        .条目视觉主体 {
            cursor pointer
            display block
            padding 0.2em 0.25em 0.2em 0.5em
            overflow hidden

            transition-property color, background-color, opacity, border-color
            transition-duration 0.319s
            transition-timing-function ease-out

            &.已禁止选择 {
                cursor not-allowed

                .el-checkbox__input {
                    visibility hidden
                }
            }
        }
    }
}
