@import '../_通用变量集_'

// Stylus 语言的变量名不允许采用汉字！

{identifiable_selector__component_root} {
    box-sizing border-box
    display flex
    flex-direction column
    height 100%

    .尽量不换行之短语 {
        display inline-block
    }

    > .title-bar {
        flex 0 0 auto
    }

    > .footer-bar {
        flex 0 0 auto
    }

    > .chief-part {
        flex 1 1
        overflow hidden
        display flex
        align-items stretch

        > .center-column {
            flex 0 0 8rem
            box-sizing border-box
        }

        > .column-of-list {
            flex 1 1
            width 50%
            box-sizing border-box
            overflow hidden
        }

        > .center-column {
            padding 11rem 0.5rem 0.5rem
            display flex
            flex-direction column
            justify-content flex-start
            align-items center

            .el-badge {
                display block
                max-width 100%
                margin 0.25rem auto

                .el-badge__content {
                    transform translateX(-50%)
                    left 50%
                    right auto
                    margin -0.9rem auto
                    width auto
                    min-width 1.1rem
                    height 1.1rem
                    line-height 1rem
                    padding 0 0.25rem 0 0.3rem
                    border-radius 0.55rem
                }
            }

            .badge-of-transfering-button-1 .el-badge__content {
                top 0
                bottom auto
            }

            .badge-of-transfering-button-2 .el-badge__content {
                top auto
                bottom 0
            }

            button {
                box-sizing border-box
                display block
                max-width 100%
                font-size 1.5rem
                margin 0.25rem

                i ~ span {
                    margin -0.05rem
                }
            }
        }
    }

    .column-of-list {
        display flex
        flex-direction column
        border-width 1px
        border-style solid

        .column-tip {
            padding 0.25rem 0.75rem
            margin 0.75rem 0.25rem
            line-height 1.5

            p {
                margin 0.25rem 0
            }

            em {
                font-style normal
                margin 0 0.2rem
            }

            strong {
                font-style normal
                font-weight normal
            }
        }

        .column-title-bar {
            padding 0.5rem 0.75rem
            text-align center
        }

        .column-filter {
            flex 0 0 2rem
            padding 0.5rem 0.75rem
            position relative
            // margin-bottom -0.25rem
            display block

            .el-icon-search {
                position absolute
                top 0.5rem
                left 0.75rem
                height 32px
                line-height 32px
                width 1.8rem
                text-align center
                pointer-events none
            }
        }

        .column-filter-input {
            box-sizing border-box
            width 100%
            height 2rem
            font-size 1rem
            padding-left 1.25rem
            border-radius 10rem
            border-style solid

            &.emphasize-to-call-to-action {
                animation-iteration-count infinite
                animation-duration 2s
            }
        }

        .column-check-all {
            padding 0rem 0.5rem 0.25rem 0.5rem

            .el-checkbox {
                display block
                padding 0.2rem 0.25rem 0.2rem 0.5rem
                margin 0
                border-radius 0.2rem

                &.is-disabled {
                    cursor not-allowed
                }
            }

            .el-checkbox__input {
                margin-top -0.1rem

                &.is-disabled {
                    visibility hidden
                }
            }
        }

        .counts-summary {
            margin 0
            padding 0.3em 0.75em 0.3em 0.75em

            .entry {
                display flex
                max-width 24em
            }

            dt,
            dd {
                padding 0.25em
                margin 0
            }

            dt {
                flex 0 0 4em
                display block
                // margin-right 1em
            }

            dd {
                flex 1 1 auto
                display flex
                flex-direction row
                // align-items center

                > span {
                    display block
                    padding 0.1em 0.25em
                    height 1.5em
                    line-height 1.3em
                    border-radius 0.2em
                }

                // .括弧--左,
                // .括弧--右 {
                // }

                .括弧--左 {
                    flex 1 0 auto
                    margin-left 1em
                    margin-right 0
                    text-align right
                    
                    &:first-child {
                        margin-left 0
                    }
                }

                .括弧--右 {
                    flex 0 0 auto
                    margin-left 0
                    text-align left
                    margin-right 1em

                    &:last-child {
                        margin-right -1em
                    }
                }

                .值 {
                    z-index 10
                    flex 0 0 4em
                    margin 0
                    text-align right
                }

                .值-前缀,
                .值-后缀 {
                    overflow hidden
                    white-space nowrap
                }
                
                .值-前缀 {
                    flex 0 2 auto
                    text-align right
                    margin-right 0.25em
                }

                .值-后缀 {
                    flex 0 0 auto
                    text-align left
                    margin-left 0.25em
                }

                .值 + .括弧--右 {
                    margin-left -0.15em
                }

                .值-后缀 + .括弧--右,
                .括弧--左 + .值-前缀 {
                    margin-left -0.4em
                }
            }
        }

        .column-list-container {
            display flex
            flex-direction column
            overflow hidden
            flex 1 1
            height 100%
            padding 0.25rem

            border-width inherit
            border-left-width 0
            border-right-width 0
            border-bottom-width 0
            border-style inherit
            border-color inherit
        }

        .column-list {
            list-style none
            padding 0
            flex 1 1
            height 100%
            overflow auto
            overflow-y scroll
            padding 0
            margin 0

            .column-list-item {
                user-select none
                padding 0 0.25rem

                > .el-checkbox {
                    display block
                    padding 0.2rem 0.25rem 0.2rem 0.5rem
                    overflow hidden

                    &.is-disabled {
                        cursor not-allowed

                        .el-checkbox__input {
                            visibility hidden
                        }
                    }
                }
            }
        }
    }
}
