// Stylus 语言的变量名不允许采用汉字！

// wlc_transfer_items_among_columns__identifiable_selector__css_vars_carrier                                   = ''
wlc_transfer_items_among_columns__identifiable_selector__base_styles_wrapper                                = ''
wlc_transfer_items_among_columns__identifiable_selector__list_single_item__root_container                   = '.吴乐川-任意两列间转移条目-条目皿'
wlc_transfer_items_among_columns__identifiable_selector__list_single_item__root                             = '.吴乐川-任意两列间转移条目-条目根'
wlc_transfer_items_among_columns__identifiable_selector__list_single_item__visual_base                      = '.吴乐川-任意两列间转移条目-条目之视觉根'
wlc_transfer_items_among_columns__identifiable_selector__single_list_column__root                           = '.吴乐川-任意两列间转移条目-单列'
wlc_transfer_items_among_columns__identifiable_selector__single_list_column_readme__root                    = '.吴乐川-任意两列间转移条目-单列之说明书'
wlc_transfer_items_among_columns__identifiable_selector__prebuilt_dual_columns__root                        = '.吴乐川-任意两列间转移条目-现成实用的双列'
wlc_transfer_items_among_columns__identifiable_selector__default_center_column_between_2_list_columns__root = '.吴乐川-任意两列间转移条目-两列之间之默认竖栏'





css_var_name__chief_blocks_border_width                      = '--吴乐川-双列间转移条目--主要布局块-边线粗度'
css_var_name__focusing_element_outline_width                 = '--吴乐川-双列间转移条目--获得交互焦点之元素-边线粗度'
css_var_name__input_boxes_border_width                       = '--吴乐川-双列间转移条目--文字输入框-边线粗度'
css_var_name__buttons_border_width                           = '--吴乐川-双列间转移条目--按钮-边线粗度'

css_var_name__element_highlighting_color_static              = '--吴乐川-双列间转移条目--高亮元素标准色-静置时'
css_var_name__element_highlighting_color_hover               = '--吴乐川-双列间转移条目--高亮元素标准色-鼠标悬停时'
css_var_name__element_highlighting_but_disabled_color_static = '--吴乐川-双列间转移条目--高亮元素标准色-禁止交互时'
css_var_name__element_non_highlighting_color_hover           = '--吴乐川-双列间转移条目--非高亮元素标准色-鼠标悬停时'
css_var_name__focusing_element_outline_color                 = '--吴乐川-双列间转移条目--获得交互焦点之元素-视觉强调之包边之颜色'
