// Stylus 语言的变量名不允许采用汉字！

identifiable_selector__component_root = '.吴乐川-双列互换数据'
identifiable_selector__sub_component_single_column = '.吴乐川-双列互换数据-单列'

css_var_name__chief_blocks_border_width = '--wlc-2-columns--chief-blocks-border-width'
css_var_name__focusing_element_outline_width = '--wlc-2-columns--focusing-element-border-width'
css_var_name__input_boxes_border_width = '--wlc-2-columns--input-boxes-border-width'
css_var_name__buttons_border_width = '--wlc-2-columns--buttons-border-width'

css_var_name__focusing_element_outline_color = '--wlc-2-columns--focusing-element-border-color'
